.error
{
    color: #e74c3c;
}

.navbar
{
    margin-bottom: 0px;
}

.navbar-inner
{
    height: 20px;
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.navvy-item
{
    margin: 8px 5px 0px 5px;
    font-size: 20px;
}

.navvy-button
{
    border: none;
    background: transparent;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-backface-visibility: hidden;
    color: #16a085;
    font-size: 20px;
    padding: 0px;
}

.navvy-button:hover
{
    color: #1abc9c;
}

.navvy-item a
{
    color: #16a085 !important;
}

.navvy-item:hover a
{
    color: #1abc9c !important;
}

.navvy-title
{
    font-family: 'Oleo Script', cursive;
    display: inline-block;
    color: #1abc9c !important;
    font-size: 30px;
    padding-top: 3px;
}

.container.list
{
    width: auto;
}

ul.nav-list.item-list
{
    padding-left: 0px;
    padding-right: 0px;
}

ul.nav-list.item-list li
{
    cursor: pointer;
    position: relative;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    background-color: #FFFFFF;
    border-bottom: 1px solid #dedede;
    margin-bottom: 0px;
}

ul.nav-list.item-list li label.radio
{
    margin-left: 50px;
    font-size: 17px;
    padding-left: 28px;
}

ul.nav-list.item-list li a.item-wrapper
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    padding-right: 0px;
}

ul.nav-list.item-list .item-wrapper .item-content
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul.nav-list.item-list .item-wrapper .img-preview
{
    width: 80px;
    height: 70px;
    display: inline-block;
    position: relative;
    background-position: center;
    background-repeat:no-repeat;
    background-size:160% auto;
    vertical-align: middle;
    margin: 0px 0px;
}

ul.nav-list.item-list .item-wrapper .item-content h4.item-name
{
    font-size: 17px;
    margin-bottom: 2px;
    margin-top: 0px;
}

ul.nav-list.item-list .item-wrapper .item-icon
{
    float: left;
    font-size: 24px;
    margin: 25px 14px 0px 15px;
}


ul.nav-list.item-list .item-wrapper .item-detail
{
    font-size: 18px;
    margin: 25px 14px 0 15px;;
    color: #34495e;
}

ul.nav-list.item-list .item-wrapper .item-remain
{
    vertical-align: middle;
    font-size: 12px;
    padding: 1px 4px;
    margin: 25px 0px 0px 0px;
    color: #f5f5f5;
    background-color: #E67E22;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.nav-list.item-list .item-wrapper .control-group
{
    margin-bottom: 0px;
}


ul.nav-list.item-list.form-list input,
ul.nav-list.item-list.form-list textarea
{
    font-size: 17px;
    width: 80%;
}

ul.nav-list.item-list.form-list textarea
{
    padding: 5px 7px;
}

ul.nav-list.item-list.form-list .control-group.error input,
ul.nav-list.item-list.form-list .control-group.error .btn
{
    color:  #e74c3c;
}

ul.nav-list.item-list.form-list label
{
    margin-left: 10px;
}

ul.nav-list.item-list.form-list label.error-note
{
    display: none;
}

ul.nav-list.item-list.form-list .control-group.error label.error-note
{
    display: block;
}

ul.nav-list.item-list .item-wrapper .sub-info
{
    color: #34495e;
    font-size: 13px;
}

ul.nav-list.item-list .item-wrapper .sub-info i
{
    margin: 0px 4px;
}

.form-list .input-prepend
{
    margin: 10px 0px 10px 40px;
    width: 80%;
}

.form-list .btn > [class^="fui-"]
{
    top: 0;
}

.form-list .control-group
{
    margin: 0px auto;
}

.form-list .control-group.active .input-prepend button,
.form-list .control-group.active .input-prepend div.btn,
.form-list .control-group.active .input-prepend input,
.form-list .control-group.active .input-prepend textarea
{
    border: none;
}

.form-list .control-group.active .input-prepend .btn
{
    color: #1abc9c;
}

.form-list .control-group .input-prepend button,
.form-list .control-group .input-prepend input,
.form-list .control-group .input-prepend textarea,
.form-list .control-group .input-prepend div.btn
{
    border: none;
}

.form-list .control-group .input-prepend button
{
    height: 41px;
}

.form-list .control-group input
{
    height: 25px;
}

.input-prepend textarea
{
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.item-image
{

}

.item-placeholder
{
    display: inline-block;
    background-image: url(../framework/flatui/images/icons/Gift-Box@2x.png);
    width: 20px;
    height: 20px;
}


@media (max-width: 979px)
{
    body
    {
        padding-top: 40px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom
    {
        position: fixed;
    }

    .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
        padding: 0px;
    }
}

@media (max-width: 767px)
{
    body
    {
        padding-right: 0px;
        padding-left: 0px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top
    {
        margin-right: 0px;
        margin-left: 0px;
    }

    ul.nav-list.item-list .item-wrapper input,
    ul.nav-list.item-list .item-wrapper textarea
    {
        margin-bottom: 0px;
        margin-top: 0px;
        width: 90%;
    }

    .form-list .control-group input
    {
        height: 41px;
    }
}


@media (max-width: 480px)
{
    ul.item-list li a.item-wrapper,
    ul.item-list li a.item-wrapper:hover,
    ul.item-list li a.item-wrapper:focus
    {
        margin-bottom: 0px;
    }

    ul.nav-list.item-list .item-wrapper input,
    ul.nav-list.item-list .item-wrapper textarea
    {
        margin-bottom: 0px;
        margin-top: 0px;
        width: 80%;
    }
}