.nav-list.item-detail
{
    padding: 0px;
}

.nav-list li.image-cell,
.nav-list li.comment-cell,
.nav-list li.comment-add-cell,
{
    margin-bottom: 0px;
}

.nav-list li.comment-add-cell input[type="text"]
{
    margin: 9px 0px 1px 0px;
    height: 41px;
}

.nav-list li.comment-cell .c-text
{
    padding: 0px 5px;
}

.nav-list li.comment-cell .c-author
{
    float: right;
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
}

.image-wrapper .image-holder
{
    position: relative;
    width: 320px;
    margin: 0px auto;
}

.image-wrapper .image-holder .buy-badge
{
    position: absolute;
}

.image-placeholder
{
    text-align: center;
    display: block;
    vertical-align: middle;
    height: 60px;
    padding-top: 50px;
    font-size: 20px;
}

.buy-badge.available
{
    color: #2ECC71;
}

.buy-badge.bought
{
    color: #E74C3C;
    right: 0px;
}

.buy-badge .badge-wrapper
{
    position: relative;
    background-color: rgb(75, 9, 35);
    padding: 2px 4px;
}

.buy-badge.add-image
{
    right: 110px;
    top:50px;
    font-size: 16px;
    font-style: italic;
}

.buy-badge.add-image:hover
{
    cursor: pointer;
}

.buy-badge .badge-wrapper .badge-text
{
    display: inline-block;
}

.image-wrapper .image-holder img
{
    display: block;
    margin: 0px auto;
    max-height: 220px;
    width: auto;
}

.item-nav
{
    width: 320px;
    margin: 0px auto;
}

.btn.checkbox
{
    padding: 10.5px 10px;
}

.mini-nav .btn
{
    border-radius: 0px;
    width: 134px;
    margin: 0px;
}

.mini-nav .checkbox label
{
    margin-bottom: 0px;
    margin-left: 25px;
    font-size:  14.994px;
    line-height: 19px;
    font-weight: 500;
}

.mini-nav .btn.checkbox
{
    width: 144px;
}

.mini-nav .checkbox,
.mini-nav .radio
{
    margin-bottom: 0px;
    padding-left: 5px;
}

.mini-nav .checkbox.checked,
.mini-nav .radio.checked
{
    color: #ffffff;
}

.mini-nav .checkbox .icons,
.mini-nav .radio .icons
{
    color: #34495e;
    top: 12px;
    left: 20px;
}

@media (max-width: 767px) {

    .nav-list li.comment-add-cell input[type="text"]
    {
        height: 41px;
    }

}