.form-signin
{
    max-width: 220px;
    padding: 19px 29px 29px;
    margin: 20px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading
{
    margin-bottom: 15px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
}

.form-signin .input-icon
{
    font-size: 16px;
    background-color: transparent;
}

.form-signin .btn-block
{
    margin-top: 15px;
}

.form-signin .help-block
{
    display: none;
}

.form-signin .login-link
{
    color: #bfc9ca;
    display: block;
    font-size: 13px;
    margin-top: 4px;
    text-align: left;
}

.right-float
{
    float: right;
}

@media (max-width: 767px){
    .form-signin .control-group
    {
        margin-bottom: 10px;
    }

    .form-signin input
    {
        margin-top: 0px;
    }

    .form-signin .btn-block
    {
        margin-bottom: 0px;
    }
}

@media (max-width: 480px) {
    .form-signin .control-group
    {
        margin-bottom: 10px;
    }

    .form-signin input
    {
        margin-top: 0px;
    }

    .form-signin .btn-block
    {
        margin-bottom: 0px;
    }
}