@(form: Form[(String, org.joda.time.DateTime, String)])(implicit flash: Flash)

    @moreCss = @{
        val route = routes.Assets.at("stylesheets/item-list.css")
        s"<link rel='stylesheet' media='screen' href='$route'>"
    }

    @moreJs = @{
        val route = routes.Assets.at("javascripts/formlist.js")
        s"<script src='$route' type='text/javascript'></script>"
    }

@main(title = "WrapIt.in", moreCss = moreCss, moreJs = moreJs) {

    @helper.form(routes.GiftLists.handlecreate()) {
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container clearfix">
                    <div class="navvy-item pull-left">
                        <a href="@routes.GiftLists.index()"><span class="fui-triangle-left-large"></span></a>
                    </div>
                    <span class="navvy-title">New List</span>
                    <div class="navvy-item pull-right">
                        <button class="navvy-button fui-check" type="submit"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container list">
            <ul class="nav nav-list item-list form-list">
                <li>
                    <a class="item-wrapper">
                        <div class="control-group @if(form.error("name").isDefined){ error }">
                            <div class="input-prepend input-datepicker">
                                <button type="button" class="btn"><span class="fui-list-numbered"></span></button>
                                <input type="text" name="name" placeholder="A name for your list" class="flat" autocomplete="off" value="@if(form.data.get("name").isDefined){ @form.data.get("name").get }" id="datepicker-name">
                                <label class="error-note">Please enter a name for the list.</label>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="item-wrapper">
                        <div class="control-group @if(form.error("dueDate").isDefined || (form.error("").isDefined && form.error("").get.message.toLowerCase.contains("date"))){ error }">
                            <div class="input-prepend input-datepicker">
                                <button type="button" class="btn"><span class="fui-calendar"></span></button>
                                <input type="text" name="dueDate" placeholder="When is this list due" autocomplete="off" value="@if(form.data.get("dueDate").isDefined){ @form.data.get("dueDate").get }" class="flat" id="datepicker-duedate">
                                <label class="error-note">Date can be today or some future day.</label>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="item-wrapper">
                        <div class="control-group">
                            <div class="input-prepend input-datepicker">
                                <div class="btn" style="height: 39px"><span class="fui-document"></span></div>
                                <textarea name="notes" placeholder="Any notes for the list" class="flat"></textarea>
                                <label class="error-note">Please enter some notes.</label>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            }
</div>
}