@(form: Form[(String,String, String)])(implicit flash: Flash)

@moreCss = @{
    val route = routes.Assets.at("stylesheets/item-list.css")
    s"<link rel='stylesheet' media='screen' href='$route'>"
}

@main("Wrapit.in", moreCss) {

    @helper.form(routes.GiftLists.handlecreate()) {
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="navvy-item pull-left">
                    <a href="@routes.GiftLists.index()"><span class="fui-triangle-left-large"></span></a>
                </div>
                <span class="navvy-title">New List</span>
                <div class="navvy-item pull-right">
                    <button class="navvy-button fui-check" type="submit"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="container list">
        <ul class="nav nav-list item-list form-list">
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-list-numbered" style="font-size: 20px"></div>
                    <div class="control-group">
                        <input type="text" name="name" placeholder="A name for your list" class="flat">
                    </div>
                </a>
            </li>

            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-calendar" style="font-size: 20px"></div>
                    <div class="control-group">
                        <input type="text" name="dueDate" placeholder="When is this list due" class="flat">
                    </div>
                </a>
            </li>

            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-document" style="font-size: 20px"></div>
                    <div class="control-group">
                        <textarea name="notes" placeholder="Any notes for the list" class="flat"></textarea>
                    </div>
                </a>
            </li>
        </ul>

        @form.globalError.map { error =>
            <span class="error">
                @error.message
            </span>
        }
    }
    </div>
}