

@moreCss = @{
    val route = routes.Assets.at("stylesheets/item-list.css")
    s"<link rel='stylesheet' media='screen' href='$route'>"
}

@main("Wrapit.in", moreCss) {

    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="navvy-item pull-left">
                    <a href="#fakelink"><span class="fui-list"></span></a>
                </div>
                <span class="navvy-title">Gift Lists</span>
                <div class="navvy-item pull-right">
                    <a href="#fakelink"><span class="fui-plus"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container list">
        <ul class="nav nav-list item-list">
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
            <li>
                <a class="item-wrapper">
                    <div class="item-icon fui-user"></div>
                    <div class="item-content">
                        <h4 class="item-name">
                            Noels Birthday List
                        </h4>
                        Ends in 42 days
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    <div class="item-remain pull-right">10</div>

                </a>
            </li>
        </ul>
    </div>
}