@(list: Option[GiftList], items: List[Item])


    @moreCss = @{
        val route = routes.Assets.at("stylesheets/item-list.css")
        s"<link rel='stylesheet' media='screen' href='$route'>"
    }


@main(title = "WrapIt.in", moreCss = moreCss) {

    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="navvy-item pull-left">
                    <a href="@routes.GiftLists.index"><span class="fui-triangle-left-large"></span></a>
                </div>
                @if(list.isDefined) {
                    <div class="navvy-item pull-right">
                        <a href="@routes.GiftLists.additem(list.get.id.get)"><span class="fui-plus"></span></a>
                    </div>
                    <div class="navvy-item pull-right" style="margin-right: 20px; font-size: 19.5px">
                        <a href=""><i class="icon-group"></i></a>
                    </div>
                    <div class="navvy-item pull-right" style="margin-right: 20px; font-size: 23px; margin-top: 7px">
                        <a href=""><i class="icon-cog"></i></a>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container list">
        <ul class="nav nav-list item-list">
            @if(list.isDefined) {
                <li style="background-color: #f0faf8">
                    <i class="icon-star-empty pull-right" style="font-size: 20px; margin: 17px 10px 0px 0px;"></i>
                    <h5 style="margin-left: 20px; display: inline-block; font-family: 'oleo script', cursive">@list.get.name</h5>
                </li>
            }
            @for(item <- items) {
                <li>
                    <a href="@routes.Items.show(list.get.id.get, item.id.get)" class="item-wrapper">
                        @if(item.getPhoto.isDefined && item.getPhoto.get.getPath.isDefined) {
                            <div class="img-preview" style="background-image: url('@item.getPhoto.get.getPath.getOrElse("")')"> </div>
                        } else {
                            <div class="item-icon icon-gift" style="margin-left: 31px; margin-right: 31px"></div>
                        }
                    <div class="item-content">
                        <h4 class="item-name">
                        @item.name
                        </h4>
                        <div class="sub-info"><span class="info-value">1</span> <i class="icon-comment" style="margin-right: 10px; margin-bottom: 2px"></i> <span class="info-value">2</span> <i class="icon-heart"></i></div>
                    </div>
                    <div class="item-detail fui-arrow-right pull-right"></div>
                    @*<div class="item-remain pull-right">@item.purchased/@item.needed</div>*@
                    </a>
                </li>
            }
        </ul>
    </div>
}