@(form: Form[(String, Int, String, Int)], giftListId: Long)(implicit flash: Flash)

    @moreCss = @{
        val route = routes.Assets.at("stylesheets/item-list.css")
        s"<link rel='stylesheet' media='screen' href='$route'>"
    }

    @moreJs = @{
        val route = routes.Assets.at("javascripts/formlist.js")
        s"<script src='$route' type='text/javascript'></script>"
    }

@main(title = "WrapIt.in", moreCss = moreCss, moreJs = moreJs) {

    @helper.form(routes.GiftLists.handleadditem(giftListId)) {
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <div class="navvy-item pull-left clearfix">
                        <a href="@routes.GiftLists.show(giftListId)"><span class="fui-triangle-left-large"></span></a>
                    </div>
                    <span class="navvy-title">New Item</span>
                    <div class="navvy-item pull-right">
                        <button class="navvy-button fui-check" type="submit"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container list">
            <ul class="nav nav-list item-list form-list">
                <li>
                    <a class="item-wrapper">
                        <div class="control-group @if(form.error("name").isDefined){ error }">
                            <div class="input-prepend input-datepicker">
                                <button type="button" class="btn" style="padding: 6px 6px 8px 12px"><span class="icon-gift" style="font-size: 22px"></span></button>
                                <input type="text" autocomplete="off" name="name" placeholder="A name for this item" class="flat" value="@if(form.data.get("name").isDefined){@form.data.get("name").get}">
                                <label class="error-note">This item needs a name ;-(</label>
                            </div>
                        </div>
                    </a>
                </li>

                <input type="hidden" autocomplete="off" name="needed" placeholder="How many do you need?" class="flat" value="1">

                @*<li>*@
                    @*<a class="item-wrapper">*@
                        @*<div class="control-group @if(form.error("needed").isDefined){ error }">*@
                            @*<div class="input-prepend input-datepicker">*@
                                @*<button type="button" class="btn" style="padding: 9px 6px 10px 12px"><span class="fui-question" style="font-size: 18px"></span></button>*@
                                @*<input type="text" autocomplete="off" name="needed" placeholder="How many do you need?" class="flat" value="@if(form.data.get("needed").isDefined){ @form.data.get("needed").get }">*@
                                @*<label class="error-note">Should be a number.</label>*@
                            @*</div>*@
                        @*</div>*@
                    @*</a>*@
                @*</li>*@

                <li>
                    <a class="item-wrapper">
                        <div class="control-group @if(form.error("link").isDefined || (form.error("").isDefined && form.error("").get.message.toLowerCase.contains("url"))){ error }">
                            <div class="input-prepend input-datepicker">
                                <button type="button" class="btn"><span class="fui-link"></span></button>
                                <input type="text" autocomplete="off" name="link" placeholder="Paste in a URL" class="flat" value="@if(form.data.get("link").isDefined){@form.data.get("link").get}">
                                <label class="error-note">This item needs a URL ;-(</label>
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <div class="spacer" style="height: 12px"></div>
                    <label class="radio checked">
                        <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="getImage" id="" value="1" data-toggle="radio" checked="checked">
                        Find images from the URL?
                    </label>
                    <label class="radio">
                        <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="getImage" id="" value="2" data-toggle="radio">
                        Upload a picture yourself?
                    </label>
                </li>
            </ul>
            }
</div>
}