@(item: Item, itemRelation: Option[ItemRelation], comments: List[CommentRelation], giftListId: Long, user: User)

    @moreCss = @{
        val route = routes.Assets.at("stylesheets/item-detail.css")
        s"<link rel='stylesheet' media='screen' href='$route'>"
    }

    @moreJs = @{
        val route = routes.Assets.at("javascripts/item-detail.js")
        s"<script src='$route' type='text/javascript'></script>"
    }

@main(title = "WrapIt.in", moreCss = moreCss, moreJs = moreJs) {

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container clearfix  ">
                <div class="navvy-item pull-left">
                    <a href="@routes.GiftLists.show(giftListId)"><span class="fui-triangle-left-large"></span></a>
                </div>
                <span class="navvy-title">WrapIt.in</span>
                @*<div class="navvy-item pull-right">*@
                    @*<a href="@routes.GiftLists.create()"><span class="fui-plus"></span></a>*@
                @*</div>*@
            </div>
        </div>
    </div>

    <div class="container list">
        <ul class="nav nav-list item-detail">
            <li class="image-cell">
                <div class="image-wrapper">
                    <div class="image-holder">
                        <div class="buy-badge available" @if(item.purchased.getOrElse(0) != 0){style="display: none"}>
                            <div class="badge-wrapper">
                                <i class="icon-certificate"></i>
                                <div class="badge-text">Available!</div>
                            </div>
                        </div>
                        <div class="buy-badge bought" @if(item.purchased.getOrElse(0) == 0 ){style="display: none"}>
                            <div class="badge-wrapper">
                                <i class="icon-certificate"></i>
                                <div class="badge-text">Bought!</div>
                            </div>
                        </div>
                        @if(item.getPhoto.isDefined && item.getPhoto.get.getPath.isDefined) {
                            <img src="@item.getPhoto.get.getPath">
                        } else {
                            <div class="image-placeholder">
                                <a href="@routes.Items.uploadPhoto(giftListId, item.id.get)">Add an image</a>
                            </div>
                        }
                    </div>
                </div>
            </li>
            <li>
                <div class="mini-nav item-nav clearfix">

                    @if(!item.url.get.equals("")) {
                        <a href="@item.url" class="btn btn-primary no-radius" target="_blank">See it online</a>
                    } else {
                        <a href="#" class="btn btn-primary no-radius" target="_blank">Add a URL</a>
                    }

                    <a id="item-detail-purchased" href="javascript: updatePurchased(1);" class="btn btn-primary pull-right no-radius" @if(item.purchased.getOrElse(0) == 1){style="display: none"}>Mark bought</a>

                    <a id="item-detail-available" href="javascript: @if(itemRelation.isDefined && itemRelation.get.userId == user.id.get || !itemRelation.isDefined){updatePurchased(0);}" class="btn btn-primary pull-right no-radius @if(itemRelation.isDefined && itemRelation.get.userId == user.id.get || !itemRelation.isDefined){enabled}else{disabled}" @if(item.purchased.getOrElse(0) != 1){style="display: none"}>Mark available</a>

                </div>
            </li>
            <li class="comment-cell clearfix" style="display: none">
                <div class="comment-wrapper">
                    <div class="c-text">

                    </div>
                    <div class="c-author">

                    </div>
                </div>
            </li>
            @for(comment <- comments) {
            <li class="comment-cell clearfix">
                <div class="comment-wrapper">
                    <div class="c-text">
                        @comment.getComment().get.note
                    </div>
                    <div class="c-author">
                        @comment.getUser().get.email
                    </div>
                </div>
            </li>
            }
        </ul>


        <ul class="nav nav-list">
            <li class="comment-add-cell">
                <input id="item-detail-comment" type="text" class="input-block-level" placeholder="Type a comment...">
                @*<div class="btn btn-primary" style="display: inline-block; padding: 7px 7px 8px 9px; margin-bottom: 1px"><i class="icon-plus"></i></div>*@
            </li>
        </ul>
    </div>

}

<script>
    // vars needed by the JS
    var itdGiftListId = @giftListId;
    var itdItemID = @item.id.getOrElse("");
    var itdUserEmail = "@user.email.get";

    function updatePurchased(purchased)
    {
        itemDetailUpdatePurchased(itdGiftListId, itdItemID, purchased);
    }
</script>