@(form: Form[(String, String)])(implicit flash: Flash)

    @moreCss = @{
        val route = routes.Assets.at("stylesheets/login.css")
        s"<link rel='stylesheet' media='screen' href='$route'>"
    }

@main(title = "WrapIt.in", moreCss = moreCss) {

    @helper.form(routes.Application.handlecreate, 'class -> "form-signin") {

        <h3 class="form-signin-heading">WraptIt.in</h3>
        <div class="control-group">
            <input type="text" class="input-block-level" placeholder="Email address" name="email">
            <i class="input-icon fui-user"></i>
            <span class="help-block">Invalid email.</span>
        </div>
        <div class="control-group">
            <input type="password" class="input-block-level" placeholder="A password" name="password">
            <i class="input-icon fui-lock"></i>
            <span class="help-block">Wrong password.</span>
        </div>
        @form.globalError.map { error =>
            <span class="login-error error">
                @error.message
            </span>
        }
        <button class="btn btn-small btn-block btn-info" type="submit">Create Account</button>
        <a href="@routes.Application.index()" class="btn btn-small btn-block">Back</a>
    }
}
